.player{
   background-color: rgb(223, 223, 230);
   width: 100%;
   padding: 2px;
   border-radius: 15px;
   margin-bottom: 2%;
}
progress{
   height: 20px;
   width: 30%;
   margin-top: 0;
}
#volume{
   width: 20%;
}
input[type="image"]
{
   height:18px;
   margin-left:10px;
   margin-right:2px;
   margin-top:2px;
}
#timer,#timerend,#timerspliter{
   font-weight: bold;
   font-size: 15px;
}