<footer class="bg-dark text-justify text-white">
    <div class="container row">
        <div class="col">
            <section class="mb-4">
                <b style="font-size: 25px;">Ichios</b>
                <p>
                    Ichios is a web application that allows users to upload sound clips online.
                    This helps artists to reuse sound assets which are uploaded by people all over the world.
                    Ichios also maintains user profile so users can maintain their uploaded assets even
                    after uploading.
                </p>
            </section>
        </div>
        <div class="col text-center text-white">
            <div class="container p-4">
                <section class="mb-4">
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-google"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                            class="fab fa-linkedin-in"></i></a>
                </section>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(116, 116, 116, 0.685);">
        © 2020 Copyright:
        <a class="text-white" href="https://www.google.com/">ichos.com</a>
    </div>
</footer>